h1 {
  background: #000000;
  color: rgba(255, 25, 150, 0.5);
  /* ANCHOR o rgba recebe o ultimo parametro que é a transparência */
}

a {
  background-color: #2e8257;
  color: white;
  font-size: 30px;
}
